{% extends "layouts/base.html" %}

{% block head %}

  <style>
    body {
      padding-top: 70px;
      padding-bottom: 30px;
    }
  </style>

{% endblock head %}

{% block body %}

{% include "_nav.html" %}
<div class="container ">
  <h1>Broccoli</h1>
  Broccoli helps you display IndieWeb-style comments on any website.


  <ul>
    {% for post in current_user.posts %}
      <li>{{ post.permalink }}
      <ul>
        {% for comment in post.comments %}

          <div>
            <a href="{{ comment.author_url }}">{{ comment.author_name }}</a>
            {{ comment.content|safe }}
            <a href="{{ comment.permalink or comment.source }}">permalink</a>
          </div>

        {% endfor %}
      </ul>
      </li>
    {% endfor %}
  </li>

</div>

{% endblock body %}
